/* mobile_spacing on the index page for the first column in the skills section to make it left aligned aligned for mobile */

.hover-effect img {
    transition: transform 0.4s;
}

.hover-effect h1 {
    transition: color 0.4s;
}

.hover-effect:hover img {
	transform: scale(1.8);
}

.hover-effect:hover h1 {
    color:rgba(255, 255, 255, 0.3);
}

.mobile_spacing {
	text-align:right;
}

.btn-primary {
	border-radius: 15px !important;
}

.img-thumbnail {
	border: 0px solid #ccc;
	padding: 8px;
	background-color: rgb(228, 230, 229);
}

.mobile-scroll-top a {
	/* background-color: rgba(44, 62, 80, .5); */
	border-radius: 10px;
}

/* .mobile-scroll-top a:hover {
	background-color: rgba(44, 62, 80, .8);
} */

@media screen and (max-width:600px){
	.mobile_spacing {
		text-align:left;
	}
    
    /* continued hover effect, image scales more for mobile screens */
    .hover-effect:hover img {
        transform: scale(3);
    }
}