.skill-card{background:#2c3e50;min-height:350px}
.skill-list{justify-content:space-around;display:flex;flex-direction:column}
.skill-list li::before{content:"> ";color:#22d3ee}
.skill-list li{color:#a7b1c2}
.skill-header{font-size:26px;font-weight:bold;background-color:rgba(0,0,0,0.14)}

@media (max-width: 992px) { 
	.skill-card{margin:2% 0%}
}

@media (min-width: 992px) and (max-width:1200px) {
	.skill-card{min-height:440px}
}
